# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 道语织梦·星海渡航's website
subtitle: '行走于道途之上, 讲述生命的故事, 故事成为修行的一部分, 每一次叙述都是一次修行'
description: '探索宇宙之理,编织心灵之梦. 我是一位行走于世间, 寻道于自然的旅人, 愿我的故事能启迪你的灵魂, 愿我的光明能照亮你的前行之路'
keywords: 道途,修行,生命,心灵,灵魂,梦,故事,探索,启迪,万物之理,前行,路
author: 道语星航
language: zh-CN
timezone:

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://www.star-sea.site/
#permalink: :year/:month/:day/:title/
permalink: :type/:abbrlink/
permalink_defaults:
  type: post
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
series_dir: series
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: true
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''
mathjax: true
# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

kramed:
  gfm: true
  pedantic: false
  sanitize: false
  tables: true
  breaks: true
  smartLists: true
  smartypants: true

search:
  path: search.json
  field: post
  content: true
  format: html
  template: ./search.json

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
#theme: maupassant
theme: butterfly

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: git
  repo: git@github.com:Hermesfuxi/Hermesfuxi.github.io.git
  branch: gh-pages

browsersync:
  logLevel: "warn"
  ghostMode:
    scroll: true
  instanceName: "uniqueString"

abbrlink:
  alg: crc32      #support crc16(default) and crc32  对应随机值算法参数，可选为 crc16 和 crc32
  rep: hex        #support dec(default) and hex   对应生成链接的表示方法，hex：十六进制，dec:十进制
  drafts: false   #(true)Process draft,(false)Do not process draft. false(default)
  # Generate categories from directory-tree
  # depth: the max_depth of directory-tree you want to generate, should > 0
  auto_category:
    enable: true  #true(default)
    depth:        #3(default)
    over_write: false
  auto_title: false #enable auto title, it can auto fill the title by path
  auto_date: false #enable auto date, it can auto fill the date by time today
  force: false #enable force mode,in this mode, the plugin will ignore the cache, and calc the abbrlink for every post even it already had abbrlink. This only updates abbrlink rather than other front variables.

# Security
# Hexo Blog Encrypt配置  # npm install --save hexo-blog-encrypt
encrypt: # hexo-blog-encrypt
  silent: true
  abstract: 以下是加密内容，继续阅读需要密码  # Here's something encrypted, password is required to continue reading.
  message: 您好, 这里需要密码 # Hey, password is required here.
  tags: # 下列的 name 一定要加到tag的最后一行，否则不生效
    - {name: vip1, password: vip-1=as*（439&6c8}
    - {name: vip2, password: vip-2=-etgr82￥561}
    - {name: vip3, password: vip-3=*98）Y@t3.67}
    - {name: vip4, password: vip-4=+453arE^wt8-}
    - {name: vip5, password: vip-5=@65~4elNb46/}
    - {name: vip6, password: vip-6=$343Tr!uy023}
    - {name: private, password: Hermesfuxi#tang^2472854207(@+)}
  wrong_pass_message: 密码无效，请检查并重试  # Oh, this is an invalid password. Check and try again, please.
  wrong_hash_message: 抱歉, 这个文章不能被校验, 不过您还是能看看解密后的内容 # Oh, these decrypted content cannot be verified, but you can still have a look.

markdown:
  preset: "default"
  render:
    html: true
    xhtmlOut: false
    langPrefix: "language-"
    breaks: true
    linkify: true
    typographer: true
    quotes: "“”‘’"
  enable_rules:
  disable_rules:
  plugins:
    - markdown-it-abbr
    - markdown-it-cjk-breaks
    - markdown-it-deflist
    - markdown-it-emoji
    - markdown-it-footnote
    - markdown-it-ins
    - markdown-it-mark
    - markdown-it-sub
    - markdown-it-sup
    - markdown-it-checkbox
    - markdown-it-imsize
    - markdown-it-expandable
    - name: markdown-it-container
      options: success
    - name: markdown-it-container
      options: tips
    - name: markdown-it-container
      options: warning
    - name: markdown-it-container
      options: danger
  anchors:
    level: 2
    collisionSuffix: ""
    permalink: false
    permalinkClass: "header-anchor"
    permalinkSide: "left"
    permalinkSymbol: "¶"
    case: 0
    separator: "-"
